.weblogo{
width:100px;
display: block;
}
.end-note{
    font-size: 15px;
}
.hamburger-menu{
    width:0px;
}
.navbar{
position: fixed;
}
.navlist{
list-style: none;
display: flex;
flex-direction: column;
gap: 10px;
}
.header{
    height:55px;
    display:flex;
    flex-direction: row;
    gap: 0px 0px;
    justify-content: space-between;
    position: fixed;
    top:2px;
    left: 0;
    right: 0;
    background-color: rgb(41, 142, 219);
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: aqua; 

}
.logo-search-2{
    width:57px;
}
.weather-section{
    margin-top: 59px;
    margin-left: 500px;
}

.left-section{
    width:50px;
}
.logo-search{
    margin-left: 0px;
    margin-right: 0px;
}

.middle-section{
    width:50px;
    display: block;
    align-items: center;
    margin-right: 0px;
    margin-top: 15px;
}

.rightmost{
    margin-top: 15px;
    margin-right: 800px;
    margin-left: 0px;
}
.search-bar{
    width:200px;
}